body{
    margin: 0;
    padding: 0;
    background-color: rgb(248, 215, 250);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
header{
    font-size: 25px;
    padding: 1px;
    background-color: rgb(247, 233, 214);
    text-align: center;
}
section{
    padding: 50px;
}

button{
    border-radius: 5px;
    background-color: blueviolet;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px;
}
footer{
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
} 